aiohappyeyeballs
aiohttp
aiosignal
aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
antlr4-python3-runtime
anyio
attrs
audioread
blinker
cachetools
certifi
cffi
charset-normalizer
click
crcmod
cryptography
dataclasses-json
decorator
distro
editdistance
filelock
filetype
Flask
frozenlist
fsspec
funasr
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
hydra-core
idna
itsdangerous
jaconv
jamo
jieba
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
kaldiio
langchain
langchain-classic
langchain-community
langchain-core
langchain-deepseek
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lazy_loader
librosa
llvmlite
MarkupSafe
marshmallow
modelscope
more-itertools
mpmath
msgpack
multidict
mypy_extensions
networkx
numba
numpy
omegaconf
openai
openai-whisper
opencv-python
orjson
ormsgpack
oss2
packaging
platformdirs
pooch
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAudio
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pynndescent
python-dotenv
pytorch-wpe
PyYAML
regex
requests
requests-toolbelt
rsa
scikit-learn
scipy
sentencepiece
setuptools
six
sniffio
soundfile
soxr
SpeechRecognition
SQLAlchemy
standard-aifc
standard-chunk
standard-sunau
sympy
tenacity
tensorboardX
threadpoolctl
tiktoken
torch
torch-complex
torchaudio
tqdm
typing-inspect
typing-inspection
typing_extensions
umap-learn
urllib3
Werkzeug
xxhash
yarl
zstandard
